.products-container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  row-gap: 50px;
}
.shop-category-title {
  padding: 0 15px;
}
@media (max-width:992px)  {
  .products-container {
    padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 10px;
  row-gap: 50px;
}
}
@media (max-width:768px)  {
  .products-container {
    padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  column-gap: 10px;
  row-gap: 50px;
}
}